<%= render 'shared/menuSection' %>

<!--MESSAGE SECTION START-->
<section id="message" >
<div class="container">
<div class="row text-center header animate-in" data-anim-type="fade-in-up">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<h3>ようこそ、<%= @callname %>さん</h3>
<hr />

</div>
</div>

<div class="row animate-in" data-anim-type="fade-in-up">

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-justify">
<h2><%= @callmessage %></h2>
</br>
<h4>このページは、少しでも披露宴中にコミニュケーションを取りたいと考えて作りました。</h4>
<h4>新郎新婦で考えた各メニューの説明や、参加してくださった方へのメッセージを入れていますのでよければ楽しんでください。</h4>
<h4>各料理の説明は、サーブされた頃に表示されるようになります。</h4>

</div>



</div>
</div>
</section>

<!--MESSAGE SECTION END-->

<%= render 'shared/serviceSection' %>

