<!--LINK TO TOP SECTION START-->
<div class="container">
<div class="row text-center header">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 animate-in" data-anim-type="fade-in-up">
<%= link_to 'トップページに戻る', welcome_path(params[:code]), method: :GET %>
</div>
</div>
</div>
<!--LINK TO TOP SECTION END-->